 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .container {
    max-width: 1313px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
 }

 body {
    background-color: #180a01;
 }

  .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
 }

  .header-c {
  display: flex;
  gap: 80px;
  margin: 0 auto;
  text-align: center;
 }

  .header-r {
  display: flex;
  gap: 30px;
 }

 .header-a-1 {
    text-decoration: none;
    color: #FF6432;
    border-radius: 100%;
 }

 .header-a {
    text-decoration: none;
    color: #A3A3A3;
 }

 .header-button {
    width: 163px;
    height: 40px;
    border: none;
    color: #FFFFFF;
    background-color: #FF5D29;
    border-radius: 30px;
    cursor: pointer;
 }

 .s-burger {
  display: none;
 }

 .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .hero-l {
    width: 500px;
    height: 618px;
 }

 .hero-h-1 {
    color: #FFFFFF;
    font-size: 70px;
 }

 .hero-p {
    width: 411px;
    height: 60px;
    color: #A3A3A3;
    font-size: 19px;
 }

 .hero-btns { 
    position: relative;
 }

 .hero-btn-1 {
    width: 230px;
    height: 62px;
    border: none;
    color: #FFFFFF;
    background-color: #FF5E2A;
    border-radius: 30px;
    font-size: 22px;
    cursor: pointer;
 }
 
 .hero-btn-2 {
    width: 232px;
    height: 62px;
    color: #FF5D29;
    border: 2px solid #FF5D29;
    background-color: rgba(0,0,0,0);
    border-radius: 30px;
    position: absolute;
    font-size: 18px;
    margin-left: -90px;
    padding-left: 80px;
    cursor: pointer;
 }

 .hero-r-r {
  display: none;
 }

 .app-salam {
   width: 297px;
   height: 516px;
 }

 .app-h {
  color: #FFFFFF;
  font-size: 70px;
  text-align: center;
 }

 .app-ah {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 70px;
    flex-wrap: wrap;
 }

 .app-btn {
    width: 229px;
    height: 62px;
    border: none;
    color: #FFFFFF;
    background-color: #FF5E2A;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
 }

 .app-btns {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 194px;
   height: 45px;
 }

 .app-a {
    text-decoration: none;
    color: #FFFFFF;
 }

 .app-pizza {
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .app-h2 {
    padding-left: 75px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
 }

 .app-pae {
    width: 229px;
    height: 32px;
    color: #A3A3A3;
    padding-bottom: 60px;
 }

 .app-button {
   width: 194px;
   height: 45px;
   border-radius: 84px;
   border: 2px solid #FF5D29;
   background-color: #180a01;
   color: #FF5D29;
   cursor: pointer;
 }

  .app-batton {
   width: 194px;
   height: 45px;
   border-radius: 84px;
   background-color: #FF5D29;
   color: #FFFFFF;
   margin-top: 20px;
   border: none;
   cursor: pointer;
 }

 .card {
   width: 1253px;
   height: 543px;
   display: flex;
   flex-wrap: wrap;

 }

 
 .card-left {
   display: flex;
   gap: 24px;
 }

 .card-salam-1 {
   width: 367px;
   height: 260px;
   border-radius: 30px;
   background-image: url("./salam-1.png");
   padding-left: 25px;
 }

 .card-salam-2 {
   width: 396px;
   height: 260px;
   border-radius: 30px;
   background-image: url("./salam-2.png");
   padding-left: 25px;
 }

 .card-button {
   width: 204px;
   height: 38px;
   border-radius: 32px;
   background-color: #FF5D29;
   color: #FFFFFF;
   cursor: pointer;
   margin-top: 45px;
   border: none;
 }

 .h1 {
   width: 171px;
   height: 54px;
   color: #FFFFFF;
   padding-top: 79px;
   padding-bottom: 75px;
 }

 .h-1 {
   width: 170px;
   height: 27px;
   color: #FFFFFF;
   padding-top: 79px;
   padding-bottom: 75px;
 }

 .card-right {
   width: 428px;
   height: 136px;
 }

 .h-1-1 {
   width: 152px;
   height: 54px;
   color: #FFFFFF;
   font-size: 69px;
   padding-left: 29px;
   margin-top: 89px;
   padding-bottom: 70px;
 }

 .p {
   width: 427px;
   height: 54px;
   color: #A3A3A3;
   font-size: 20px;
 }

 .card-ph {
   display: flex;
   gap: 24px;
 }

   .card-l {
   width: 614px;
   height: 260px;
   border-radius: 30px;
   background-image: url("./card-11.png");
   }

   .card-r {
   width: 614px;
   height: 260px;
   border-radius: 30px;
   background-image: url("./card-2.png");
   }

    .card-btn {
   width: 204px;
   height: 38px;
   border-radius: 32px;
   background-color: #FF5D29;
   color: #FFFFFF;
   cursor: pointer;
   margin-top: 45px;
   margin-left: 30px;
   border: none;
 }

 .h-2 {
   width: 168;
   height: 54;
   font-size: 25px;
   color: #FFFFFF;
   padding-top: 86px;
   padding-left: 29px;
   padding-bottom: 48px;
 }

 .mishka {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
 }

 .mishka-l {
   width: 401px;
   height: 260px;
   border-radius: 30px;
   background-image: url("./mishka-1.png");
 }
 
 .mishka-c {
      width: 401px;
   height: 260px;
   border-radius: 30px;
   background-image: url("./mishka-2.png");
 }
 
 .mishka-r {
      width: 401px;
   height: 260px;
   border-radius: 30px;
   background-image: url("./mishka-3.png");
 }

 .m-h1 {
   width: 200px;
   height: 54px;
   color: #FFFFFF;
   font-size: 25px;  
   padding-left: 27px;
   padding-top: 87px;
   padding-bottom: 48px;
 }

  .m-h2 {
   width: 168px;
   height: 54px;
   color: #FFFFFF;
   font-size: 25px;  
   padding-left: 27px;
   padding-top: 87px;
   padding-bottom: 48px;
 }

  .m-h3 {
   width: 200px;
   height: 48px;
   color: #FFFFFF;
   font-size: 25px;
   padding-left: 27px;
   padding-top: 87px;
   padding-bottom: 48px;
 }
 

 .m-btn {
   width: 204px;
   height: 38px;
   border-radius: 32px;
   background-color: #FF5D29;
   color: #FFFFFF;
   cursor: pointer;
   margin-top: 45px;
   margin-left: 30px;
   border: none;
   margin-top: 70px;
 }

 .farfara {
   display: flex;
   flex-wrap: wrap;
   padding-top: 100px;
 }

 .f-h1 {
   width: 296px;
   height: 76px;
   font-size: 70px;
   font-weight: 800;
   color: #FFFFFF;
 }

 .f-p {
   width: 459px;
   height: 108px;
   font-size: 19px;
   color: #A3A3A3;
 } 
 

 .footer-l {
   display: flex;
   flex-wrap: wrap;
   gap: 85px;
 }

 .footer-p {
   color: #A3A3A3;
 }

 .footer-par {
   padding-top: 13px;
   color: #515151;
 }

 .footer-r {
   display: flex;
   flex-wrap: wrap;
   gap: 948px;
   padding-top: 100px;
   padding-bottom: 63px;
 }

 .farfara-salam {
  margin-top: -110px;
 }

 .ha {
   color: #FF612E;
 }


@media only screen and (max-width:1024px) {

.header-c {
  gap:20px;
}

.hero {
  flex-direction:column;
  text-align:center;
}

.hero-r img {
  width: 974px;
}

 .hero-btn-2 {
  display: none;
 }

.app-ah {
  flex-wrap:wrap;gap:20px;
}

.app {
  display: none;
}

.haha img {
  width: 100%;
}

.card {
  display: none;
}


.footer-r {
  display: none;
}

}

@media only screen and (max-width:768px) {

.header { 
  justify-content: space-between;
  gap:20px;
}

.header-c {
  display: none;
}

.header-button {
  display: none;
}

.s-burger {
  display: block;
}

.hero-h-1 {
  font-size:48px;
}

.hero-p {
 max-width: 293px; 
 margin: auto;
}

.hero-h-1 img {
  width: 35px;
}

 .hero-r {
  display: none;
 }

 .hero-r-r {
  display: block;
  width: 718px;
 }

.app-pizza {
  margin: auto;
}

.card,.card-left,.card-ph {
  flex-direction:column;
  align-items:center;
}

.mishka {
  flex-direction:column;
  align-items:center;
}

}

@media only screen and (max-width:480px) {

.hero-h-1 {
  font-size:32px;
}

.header-c {
  flex-direction:column;
  gap:10px;
}

.hero-btns {
  flex-direction:column;
  width:100%;
}

 .hero-r-r {
  width: 243px;
  height: 365px;
 }

.app-salam {
  width:100%;
}
 
}